@import url('https://fonts.googleapis.com/css?family=Overlock');
body { font-family: 'Overlock', cursive;
  background-color: #E5F1F6;
  word-wrap: break-word;
}

h1{
  font-size: 2.4em
}
a{
  color: black
}

a:hover{
  text-decoration: underline;
}
ul{
  padding-left: 20px
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, [col-start] 1fr);
}

.two > p {
  margin: 2px
}

.two > h1 {
  margin: 2px
}
.two { 
  grid-column: col-start 3 / span 6;
}

@media screen and (max-width: 500px) {
  .two { 
    grid-column: col-start 1 / span 12;
  }
}