@import url('https://fonts.googleapis.com/css?family=Overlock');
body { font-family: 'Overlock', cursive;
  background-color: #E5F1F6;
}

h1{
  font-size: 48px
}
p,a {
  font-size: 24px
}
a{
  color: black;
  text-decoration: none
}
ul{
  padding-left: 20px
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  grid-gap: 10px;
}

.two > p {
  margin: 2px
}

.two > h1 {
  margin: 2px
}
.two { 
  grid-column: col-start 4 / span 4;
  grid-row: 20;
}

@media screen and (max-width: 500px) {
  .two { 
    grid-column: col-start 1 / span 4;
    grid-row: 2;
  }
}